// Variable overrides
$primary-text:#4d4d4d;
$hashtag:#00376b;
$white: #fff;
$red:#f42929;
$alternate-green:#00AAA0;
$yellow:#ffeb3b;
$green:#41fb3a;
$bold: bold;
$dark_grey: #484848;
$light_grey:#979797;
$black: #000;
$light_background:#efefef;
$mobile-breakpoint:765px;
$desktop-breakpoint:1240px;
