@import "./variables";

.radio-container {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  font-weight: 300;
  margin-right: 8px;
  

  .checkmate-label {
    display: inline-block;
    width: 42px;
    height: 42px;
    cursor: pointer;    
  }

  

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 42px;
    width: 42px;    
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
    &:hover{      
      transform: scale(1.04);
      transition: all 0.50s ease;
    }
  }

  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  & input:checked ~ .checkmark:after {
    display: block;
    
  }

  & .checkmark:after {
    left: 9px;
    top: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.50s ease;
    
  }
}
