@import "./variables";

.flex_justify_between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mt-16 {
  margin-top: 16px;
}
.mb-16 {
  margin-top: 16px;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
